<div class="menu-wrapper fixed hide">
    <div class="menu">
        <a href = "{{site.baseurl}}/" class = "mini-logo float-left"><img src="{{ site.baseurl }}/assets/ZB-white-transparent.png" alt="" width=30px></a>
        <ul>
            <li><a href="#">mind-mastery</a></li>
            <li><a href="#">life-design</a></li>
            <li><a href="#">body-mastery</a></li>
            <li><a href="#">man-food</a></li>
        </ul>
    </div>
</div>

<div class="logo-mast">

    <a class="homepage-logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/ZB_header_logo.png"></a>
</div>
