<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header-posts.html %}

    {% if page.image.feature %}
    <div class="hero-wrapper">

        <div class="feature-image" style="background-image: url('{{site.baseurl}}/assets/{{page.image.feature}}')">
        </div>

        <div class="headline-wrapper flex-column">
            <h1 class = "error_headline">{{ page.title}}</h1>
            <h2 class = "error_subhead">Someone messed up</h2>
            <h3 class = "white">(probably me)</h3>
            <br> <br>
            <h2><a href="/" class= light-link>Click here to carry on</a></h2>
        </div>
    </div>
    {% endif %}

  </body>

</html>
